#cb-overlay {
    overflow: auto;
    background-color: rgba(0,0,0,.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}

#cb {
    top: 34%;
    position: sticky;
    margin: auto;
    width: 65vw;
    padding: 2%;
    border-radius: 15px;
}

.cb-btn {
    margin: 15px 15px 0 0;
}
#cb-reject-btn {
    background: white;
    color: #2d2d2d;
    border: #2d2d2d 1px solid;
}

.cb-text{
    margin: 0;
}

.cb-right-positioned {
    text-align: end;
}

.cb-white-background {
    background-color: white;
}

.cb-hidden {
    display: none;
}

@media 
  (max-device-width: 800px) { 
    .cb-btn {
        width: 90%;
        display: block;
        margin: 10px auto;
    }

    #cb-overlay > div {
        padding: 3%;
    }
}